.ennemy {
  width: 5vmin;
  height: 5vmin;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;       /* remove default spacing */
  box-sizing: border-box;
  margin:0.1vmax;
}
