.ennemy-2{
  top: calc(var(--top-margin) * 5);
}

.ennemy-2 table {
  width: 100%;
  height: 100%;
  border-collapse: collapse; /* remove spacing between cells */
}


.ennemy-2 td {
  border: 1px solid black;
  background-color: tr;
  width: calc(100% / 11);   /* 11 columns */
  height: calc(100% / 8); /* 8 rows */
  padding: 0;              /* remove default cell padding */
}

.blink-1 tr:nth-child(1) td:nth-child(3),
.blink-1 tr:nth-child(1) td:nth-child(9),
.blink-1 tr:nth-child(2) td:nth-child(4),
.blink-1 tr:nth-child(2) td:nth-child(8),
.blink-1 tr:nth-child(3) td:nth-child(n+3):nth-child(-n+9),
.blink-1 tr:nth-child(4) td:nth-child(2),
.blink-1 tr:nth-child(4) td:nth-child(3),
.blink-1 tr:nth-child(4) td:nth-child(n+5):nth-child(-n+7),
.blink-1 tr:nth-child(4) td:nth-child(9),
.blink-1 tr:nth-child(4) td:nth-child(10),
.blink-1 tr:nth-child(5) td:nth-child(n+1):nth-child(-n+11),
.blink-1 tr:nth-child(6) td:nth-child(1),
.blink-1 tr:nth-child(6) td:nth-child(n+3):nth-child(-n+9),
.blink-1 tr:nth-child(6) td:nth-child(11),
.blink-1 tr:nth-child(7) td:nth-child(1),
.blink-1 tr:nth-child(7) td:nth-child(3),
.blink-1 tr:nth-child(7) td:nth-child(9),
.blink-1 tr:nth-child(7) td:nth-child(11),
.blink-1 tr:nth-child(8) td:nth-child(4),
.blink-1 tr:nth-child(8) td:nth-child(5),
.blink-1 tr:nth-child(8) td:nth-child(7),
.blink-1 tr:nth-child(8) td:nth-child(8)
{
  background-color: var(--color-2);
}

.blink-2 tr:nth-child(1) td:nth-child(3),
.blink-2 tr:nth-child(1) td:nth-child(9),
.blink-2 tr:nth-child(2) td:nth-child(1),
.blink-2 tr:nth-child(2) td:nth-child(4),
.blink-2 tr:nth-child(2) td:nth-child(8),
.blink-2 tr:nth-child(2) td:nth-child(11),
.blink-2 tr:nth-child(3) td:nth-child(1),
.blink-2 tr:nth-child(3) td:nth-child(n+3):nth-child(-n+9),
.blink-2 tr:nth-child(3) td:nth-child(11),
.blink-2 tr:nth-child(4) td:nth-child(n+1):nth-child(-n+11),
.blink-2 tr:nth-child(5) td:nth-child(n+1):nth-child(-n+3),
.blink-2 tr:nth-child(5) td:nth-child(n+5):nth-child(-n+7),
.blink-2 tr:nth-child(5) td:nth-child(n+9):nth-child(-n+11),
.blink-2 tr:nth-child(6) td:nth-child(n+2):nth-child(-n+10),
.blink-2 tr:nth-child(7) td:nth-child(3),
.blink-2 tr:nth-child(7) td:nth-child(9),
.blink-2 tr:nth-child(8) td:nth-child(2),
.blink-2 tr:nth-child(8) td:nth-child(10)
{
  background-color: var(--color-2);
}
