

.ennemy-1 table {
  width: 100%;
  height: 100%;
  border-collapse: collapse; /* remove spacing between cells */
}


.ennemy-1 td {
  border: 1px solid black;
  background-color: tr;
  width: calc(100% / 11);   /* 11 columns */
  height: calc(100% / 8); /* 8 rows */
  padding: 0;              /* remove default cell padding */
}

.ennemy-1.blink-1 tr:nth-child(1) td:nth-child(3),
.ennemy-1.blink-1 tr:nth-child(1) td:nth-child(9),
.ennemy-1.blink-1 tr:nth-child(2) td:nth-child(4),
.ennemy-1.blink-1 tr:nth-child(2) td:nth-child(8),
.ennemy-1.blink-1 tr:nth-child(3) td:nth-child(n+3):nth-child(-n+9),
.ennemy-1.blink-1 tr:nth-child(4) td:nth-child(2),
.ennemy-1.blink-1 tr:nth-child(4) td:nth-child(3),
.ennemy-1.blink-1 tr:nth-child(4) td:nth-child(n+5):nth-child(-n+7),
.ennemy-1.blink-1 tr:nth-child(4) td:nth-child(9),
.ennemy-1.blink-1 tr:nth-child(4) td:nth-child(10),
.ennemy-1.blink-1 tr:nth-child(5) td:nth-child(n+1):nth-child(-n+11),
.ennemy-1.blink-1 tr:nth-child(6) td:nth-child(1),
.ennemy-1.blink-1 tr:nth-child(6) td:nth-child(n+3):nth-child(-n+9),
.ennemy-1.blink-1 tr:nth-child(6) td:nth-child(11),
.ennemy-1.blink-1 tr:nth-child(7) td:nth-child(1),
.ennemy-1.blink-1 tr:nth-child(7) td:nth-child(3),
.ennemy-1.blink-1 tr:nth-child(7) td:nth-child(9),
.ennemy-1.blink-1 tr:nth-child(7) td:nth-child(11),
.ennemy-1.blink-1 tr:nth-child(8) td:nth-child(4),
.ennemy-1.blink-1 tr:nth-child(8) td:nth-child(5),
.ennemy-1.blink-1 tr:nth-child(8) td:nth-child(7),
.ennemy-1.blink-1 tr:nth-child(8) td:nth-child(8)
{
  background-color: var(--color-1);
}

.ennemy-1.blink-2 tr:nth-child(1) td:nth-child(3),
.ennemy-1.blink-2 tr:nth-child(1) td:nth-child(9),
.ennemy-1.blink-2 tr:nth-child(2) td:nth-child(1),
.ennemy-1.blink-2 tr:nth-child(2) td:nth-child(4),
.ennemy-1.blink-2 tr:nth-child(2) td:nth-child(8),
.ennemy-1.blink-2 tr:nth-child(2) td:nth-child(11),
.ennemy-1.blink-2 tr:nth-child(3) td:nth-child(1),
.ennemy-1.blink-2 tr:nth-child(3) td:nth-child(n+3):nth-child(-n+9),
.ennemy-1.blink-2 tr:nth-child(3) td:nth-child(11),
.ennemy-1.blink-2 tr:nth-child(4) td:nth-child(n+1):nth-child(-n+11),
.ennemy-1.blink-2 tr:nth-child(5) td:nth-child(n+1):nth-child(-n+3),
.ennemy-1.blink-2 tr:nth-child(5) td:nth-child(n+5):nth-child(-n+7),
.ennemy-1.blink-2 tr:nth-child(5) td:nth-child(n+9):nth-child(-n+11),
.ennemy-1.blink-2 tr:nth-child(6) td:nth-child(n+2):nth-child(-n+10),
.ennemy-1.blink-2 tr:nth-child(7) td:nth-child(3),
.ennemy-1.blink-2 tr:nth-child(7) td:nth-child(9),
.ennemy-1.blink-2 tr:nth-child(8) td:nth-child(2),
.ennemy-1.blink-2 tr:nth-child(8) td:nth-child(10)
{
  background-color: var(--color-1);
}
