:root {
  --base-size: 10vmax;
  --top-margin: 20vmax;

  --moving-left: 0px;
  --moving-top: 0px;
}

.hover-colour-change {
  border-radius: 10%;
  width: var(--base-size);
  height: var(--base-size);
  background-color: #ff0055ff;
  position: absolute;
  left: calc(50vw - var(--base-size) / 2);
  top: var(--top-margin);
}

.hover-colour-change:hover {
  background-color: #00ffaaff;
}

.on-click-hello {
  border-radius: 10%;
  width: var(--base-size);
  height: var(--base-size);
  background-color: #9c0034ff;
  position: absolute;
  left: calc(50vw - var(--base-size) / 2);
  top: calc(var(--top-margin) * 2);
  font-size: calc(var(--base-size) / 5);
  color: #85ffd6ff;
  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: center;
}

.on-key-press-hello {
  border-radius: 10%;
  width: var(--base-size);
  height: var(--base-size);
  background-color: #9c0034ff;
  position: absolute;
  left: calc(50vw - var(--base-size) / 2);
  top: calc(var(--top-margin) * 3);
  font-size: calc(var(--base-size) / 5);
  color: #85ffd6ff;
  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: center;
}

.on-key-press-show-key {
  border-radius: 10%;
  width: var(--base-size);
  height: var(--base-size);
  background-color: #9c0034ff;
  position: absolute;
  left: calc(50vw - var(--base-size) / 2);
  top: calc(var(--top-margin) * 4);
  font-size: calc(var(--base-size) / 5);
  color: #85ffd6ff;
  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: center;
}

.moving {
  border-radius: 10%;
  width: var(--base-size);
  height: var(--base-size);
  background-color: #ff0055ff;

  position: absolute;
  left: calc(50vw - var(--base-size) / 2);
  top: calc(var(--top-margin) * 4);

  transform: translate(0%, 0%);
  will-change: transform; /* smoother GPU rendering */
}
